/*aspectos generales: bordes y color de fondo del ejercicio*/

.cls_0 {
  font: 53px 'Times New Roman';
  color: rgb(0, 0, 255)
}

.uno{
  position:relative;
  margin: 0px 0px 0px 0px;
  padding:0px;
  border:none;
  overflow:hidden;
  width:613px;
  height:325px;
}

.dos {
  position:absolute;
  border:none;
  left:0px;
  top:0px;
  width:613px;
  height:325px;
  z-index:0;
}

.tres{
  position:absolute;
  border:none;
  left:0px;
  top:0px;
  width:613px;
  height:325px;
  z-index:-1;
}

.cuatre {
  position:absolute;
  left:81px;
  top:115px;
  white-space:pre;
}
