

body {
  
  font-family: sans-serif;
  background: #f1f1f1;
}

body:hover{
  
  color:black;
}

table {
  
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
  font-size: 20px;
  background: #fff;
}

table th, 
table tr:nth-child(2n+2) {
  background: #e7e7e7;
}
 
table th, 
table td {
  padding: 20px 50px;
}
 
table th {
  border-bottom: 1px solid #d4d4d4;
}     



.un{
  font-size: 120px;
}

.un:hover{
  color:#ff0000;
  
}


div{
  color:black;
}

#mensaje{
 /* text-align:center;*/
  position:absolute;
  
  padding-left:400px;
  color:rgb(19, 226, 53);
  font-size: 25px;
  
}