/* Sticky Footer Classes */
body{
 background-color:antiquewhite; 
}
h2{
  color:red;
}
h1{
 font-style: inherit; 
}
.cohet{
  color:rgb(24, 168, 36);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:  60px;
}

 /*
#rocket1Info,#rocket2Info{
  display:none;
} 
 */
 

#rocket2Info {
border: 3px solid blue;
  width: auto;
}  

#rocket1Info {
  border: 3px solid red;
    width: auto;
  }  

#rocketId1 {
  position: fixed ;
  left:50px;
  top: 450px;
  color: red;
  -ms-text-size-adjust: auto;
  }

#rocketId2 {
  position: fixed ;
  left:50px;
  top: 550px;
  color: blue;
  -ms-text-size-adjust: auto;
}

  .accelerate {
    animation: myAccelerator 5s ;
    animation-delay: 0ms;
  }

  @-webkit-keyframes myAccelerator {
    from {border-left:6px solid red }
    to {border-left:6px solid yellow }
  }
  
  @keyframes myAccelerator {
    from {border-left:6px solid red }
    to {border-left:6px solid yellow }
  }

  .break{
   
    animation: myBreak 5s ;
    animation-delay: 0ms;
  }

  @-webkit-keyframes myBreak {
    from {border-left:6px solid black }
    to {border-left:6px solid lime }
  }
  
  @keyframes myBreak {
    from {border-left:6px solid black }
    to {border-left:6px solid lime }
  }

  .txtspeed{
    font-size: medium;
    color:black;
  }